@import 'cores';

body{
    background-image: url(/animações/fundof1.gif); 
    background-color: rgb(58, 218, 204);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

h1{
    color: red;
}


.img-placa{
    width: 1050px;
    height: 50px;
}

.img-pobelha{
    width: 50px;
    height: 50px;
}

.img-flores{
    width: 1000px;
    height: 1000px;
}